[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
fiona = "*"
rasterio = "*"
geopandas = "*"
shapely = "*"
seaborn = "*"
basemap = "*"
cmocean = "*"
descartes = "*"
scipy = "*"
openpyxl = "*"
basemap-data-hires = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.9"
